.visual {
    padding: rem(20px);
}

.content{
    color: $primary;
    background-color: $secondary;
    height: auto;
    font-family: $font-primary;
    padding: rem(20px);
    text-align: center;

    &__h1{
        font-size: $font-size-title;
        padding-bottom: 1rem;
    }
    
    &__h2{
        font-size: $font-size-base;
    }
}

.services {
    display: grid;
    height: auto;
    padding: rem(20px);
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: rem(10px);

    &__title{
        text-align: center;
        font-family: $font-primary;
        font-size: $font-size-base;
    }
}