.form-group{
    padding: rem(20px);
    font-family: $font-primary;
    height: auto;

    &__title{
        text-align: center;
        padding-bottom: rem(40px);
    }

    &__label{
        margin-right: rem(10px);
        margin-left: rem(10px)
    }

    &__control {
        font-family: $font-primary;
        width: min($numbers: rem(200px));
        height: rem(60px);
        margin: rem(10px);
        padding: rem(0 10px);
        border: 2px solid $gray-300;
    }

    .input--email, .input--password {
        width: min($numbers: rem(250px));
    }

    &__btn{
        border: none;
        background-color: $third;
        color: $body-bg;
        font-family: $font-primary;
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
        width: min($numbers: rem(250px));
        margin: rem(10px);
        height: rem(60px);
    }
}