.mainheader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(80px);
  background-color: #d3bbaf;

  .social-icons {
    position: absolute;
    left: 0;
    margin-left: 20px;
  }

  .maintitle {
    width: rem(155px);
    height: rem(20px);
    font-family: 'Open-Sans';
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .btn__menu {
    position: absolute;
    margin-left: 20px;
    height: 60px;
    width: 60px;
    background-color: #d3bbaf;
    border: none;
    right: 0;
  }
}
