.content {
  position: relative;
  max-height: rem(352px);
  background-color: #d3bbaf;
  margin: rem(30px) 0;
  &__title {
    font-family: 'Roboto', 'Open-Sans';
    font-size: 1.5rem;
    padding: 0 rem(20px);
    text-align: center;
    margin-bottom: rem(20px);
  }
  &__subtitle {
    padding: 0 rem(20px);
    text-align: center;
    font-family: 'Roboto';
    margin-bottom: rem(30px);
  }
  .form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';

    input{
      height: rem(60px);
      width: rem(224px);
      font-family: 'Roboto';
    }
    button{
      width: rem(60px);
      height: rem(60px);
    }
  }

  .poptreatments {
    margin: rem(80px 20px 0 20px) ;
    font-family: 'Open-Sans';
    
    &__subtitle {
      font-weight: 600;
      height: 60px;
      text-align: center;
    }
    .grid {
      min-height: rem(496px);
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, rem(minmax(130px, 1fr)));
      background-color: #fff;
      // grid-template-rows: minmax(200px 300px);
      grid-gap: 10px;
      
      .item {
        text-align: center;
        line-height: 10rem;
        font-size: 2rem;
        background-color: papayawhip;
      } 
  }
  }
}