.content {
  height: rem(350px);
  background-color: #fff0d2;
  padding: rem(30px) 0;
  &__title {
    font-family: 'Roboto', 'Open-Sans';
    font-size: 1.5rem;
    padding: 0 rem(20px);
    text-align: center;
    margin-bottom: rem(20px);
  }
  &__subtitle {
    padding: 0 rem(20px);
    text-align: center;
    font-family: 'Roboto';
    margin-bottom: rem(30px);
  }
  .form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';

    input{
      height: rem(60px);
      width: rem(224px);
      font-family: 'Roboto';
    }
    button{
      width: rem(60px);
      height: rem(60px);
    }
  }
}