$icons: (
  twitter: (
    "ico": "\f099",
    "color": #55acee,
  ),
  facebook: (
    "ico": "\f09a",
    "color": #3b5998,
  ),
  instagram: (
    "ico": "\f16d",
    "color": #E65C34,
  ),
);



.social-icons {
  display: flex;
  justify-content: center;
  li + li {
    margin-left: rem(5px);
  }
  
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    font-size: 0;
    
    &::before {
      font-family: 'FontAwesome';
      font-size: 1rem;
    }
    @each $social, $icon in $icons {
      &[href*="#{$social}"] {
        background-color: map-get($icon, color);
        &::before {
          content: map-get($icon, ico)
        }
      }
    }
  }
}