.mainnav__title {
  width: rem(115px);
  height: rem(20px);
  border: none;
  font-family: 'Roboto';
  text-decoration: none;
  background-color: #1e2847;
  color: #fff;
  line-height: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}