.mainnav {
  height: rem(80px);
  background-color: #1e2847;
  display: flex;
  justify-content: center;
  align-items: center;

  &__links{
    display: flex;
  }
  
  
  &__ghostitle {
    display: none;
  }

  .social-icons {
    position: absolute;
    left: 0;
    margin-left: 20px;
  }

}



@media screen and (max-width: 768px) {
  .mainnav {
    justify-items: center;

    &__links{
      display: none;
    }


    .social-icons {
      margin-left: rem(10px);
    }

    &__ghostitle{
      display: inline-block;
      
    }
    &__title {
      display: none;
    }

    .hamburger{
      position: absolute;
      right: rem(20px);
      cursor: pointer;
     .line {
      width: rem(30px);
      height: rem(3px);
      background-color: white;
      margin: rem(5px);
      
    }
  }
  }
  
}
